.App {
    height: 90vh;
    width: 100%;
}

.search-container {
    position: absolute;
    top: 1px;
    z-index: 2;
    background-color: white;
    height: 100%;
    width: 300px;
}

.search {
    width: 265px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: red;
}

.search:focus {
    outline: red;
    border-radius: 10px;
    border-color: rebeccapurple;
}

.food-truck-list-container {
    margin-top: 20px;
    width: 285px;
    border: 1px solid red;
    border-radius: 10px;
}

.card {
    height: 100%;
    margin: 10px;
    padding-bottom: 40px;
}

.img-card img {
    height: 75px;
    width: 75px;
    float: left;
    margin-right: 10px;
}

.truck-title-card {
    font-size: 25px;
}