html,
body {
    height: 100%;
    width: 100%
}

.App {
    height: 95vh;
    width: 100%;
}

.search-container {
    position: absolute;
    top: 1px;
    z-index: 2;
    width: 20%;
    background-color: white;
    height: 100%;
}

.search {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
}